[submodule "qiaseq-smcounter-v2"]
	path = qiaseq-smcounter-v2
	url = https://github.com/qiaseq/qiaseq-smcounter-v2.git
[submodule "qiaseq-smcounter-v1"]
	path = qiaseq-smcounter-v1
	url = https://github.com/qiaseq/qiaseq-smcounter-v1.git
